/* TOPO */
.topo {
	width: 100%;
	height: 55px;
	background-color: #750706;
	background-repeat: repeat-y;
	background-position: left top;
	
}

.tituloTopo {
   font-weight: bold;
   font-size: 22px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   vertical-align: text-bottom;
   color: white;
   margin-left: 10px;
   
}

/* Menu */
.menu {
	border-style: solid;
	border-color: black;
	border-width: 2;
	white-space: nowrap;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

/* CONTEUDO */
.conteudo { 
	padding-top: 6px;
	padding-left: 6px;
	vertical-align: top;
	text-align: left;
	width: 100%;

	
	font-size: 14px;
	color: #0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

/* RODAPE */
.rodape { 
	height: 18px;
	padding-top: 6px;
	text-align: center;
	background-color: #750706;
	font-size: 10px;
	color: #0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}


